{% extends 'karty/base.html' %}
{% load i18n %}

{% block content %}
<h1>{{ menucard.name }}</h1>
<h4>{% trans 'Added:' %} {{ menucard.pub_date }} {% if menucard.was_modifed %}({% trans 'modified:' %} {{ menucard.mod_date }}){% endif %}</h4>

<p>{{ menucard.desc }}

<div class="flex-list">
    {% for dish in menucard.dishes_by_section %}
    {% if dish.section %}
    {% ifchanged %}<h3 class="flex-item">{{ dish.section }}</h3>{% endifchanged %}
    {% endif %}
    <div class="flex-item">
        {% if not dish.photo  %}
            <span class="glyphicon glyphicon-picture invisible"></span>
        {% else %}
            <span class="glyphicon glyphicon-picture">
                <img src="{{ dish.photo.url }}" class="img-circle" />
            </span>
        {% endif %}
        {{ dish.name }}
    </div>
    {% endfor %}
</div>
{% endblock content %}
