{% extends 'karty/base.html' %}
{% load i18n %}

{% block content %}
<h1>{{ menucard.name }}</h1>
<h4>{% trans 'Added:' %} {{ menucard.pub_date }} {% if menucard.was_modifed %}({% trans 'modified:' %} {{ menucard.mod_date }}){% endif %}</h4>

<p>{{ menucard.desc }}

<div class="flex-list">
    {% for dish in menucard.dishes.all %}
    <div class="flex-item">
        <span class="glyphicon glyphicon-picture {% if not dish.photo %}invisible{% endif %}">
        {% if dish.photo %}
            <img src="{{ dish.photo.url }}" class="img-circle" />
        {% endif %}
        </span>{{ dish.name }}
    </div>
    {% endfor %}
</div>
{% endblock content %}
