{% load static %}

<h4 id="pagination">Page {{ page.number }} of {{ page.paginator.num_pages }}</h4>


<div id="normal-links">
<p>
<a id='prev-link'
    {% if page.has_previous %}
    href="{% url 'karty:index' %}{{ prev_qstring }}"
    {% endif %}
    >Previous</a>


<a id='next-link'
    {% if page.has_next %}
    href="{% url 'karty:index' %}{{ next_qstring }}"
    {% endif %}
    >Next</a>
</p>

<h4>Sorting:</h4>

<a
   {% if request.GET.ordering and request.GET.ordering != 'pk' %}
   href="?page={{ page.number }}&ordering=pk"
   {% endif %}
    >Default</a> /


<a
   {% if request.GET.ordering != 'name' %}
   href="?page={{ page.number }}&ordering=name"
   {% endif %}
    >Name</a> /

<a
   {% if request.GET.ordering != 'num_dishes' %}
   href="?page={{ page.number }}&ordering=num_dishes"
   {% endif %}
   >Dish count</a>
</div>

<div id="xhr-links" class="hidden">
<button {% if not page.has_previous %}disabled=true{% endif %} id="prev-page" data-rest-uri="{% url 'karty:api_index' %}{{ prev_qstring }}">Previous</button>
<button {% if not page.has_next %}disabled=true{% endif %} id="next-page" data-rest-uri="{% url 'karty:api_index' %}{{ next_qstring }}">Next</button>

<h4>Sorting:</h4>

<button class="sort" id="sort-default" data-rest-uri="{% url 'karty:api_index' %}?ordering=pk">Default</button>
<button class="sort" id="sort-name" data-rest-uri="{% url 'karty:api_index' %}?ordering=name">Name</button>
<button class="sort" id="sort-dishes" data-rest-uri="{% url 'karty:api_index' %}?ordering=num_dishes">Dish count</button>
</div>
